<a href="https://colab.research.google.com/github/MATHONSIMM/Investment-Analysis/blob/main/Calculating_Returns_of_some_stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Installing yfinance
!pip install yfinance

In [2]:
#Imports

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [ ]:
# Installing yfinance
!pip install yfinance

# Imports
import yfinance as yf
import pandas as pd

# Download data from yahoo finance
coca_cola = yf.download("KO", start = '2023-01-01', end = '2024-08-10')  # Change 'starts' to 'start'
apple = yf.download("AAPL", start = '2023-01-01', end = '2024-08-10')  # Change 'starts' to 'start'

In [7]:
def getExpectedReturn(df,price_col_name, annualised=True, annualise_method='sophisticated'):
  """
  Returns the expected return of a stock given the Adj prices of that stock.
  """

  #Calculate returns of prices
  returns = df[price_col_name].pct_change(1)

  #Calculate the expected returns using the mean method
  expected_return_daily = returns.mean()

  if annualised:
    if annualise_method == 'sophisticated': #Sophisticated method
      expected_return_annual = ((1 - expected_return_daily)**250)-1
    elif annualise_method == 'crude': #Crude method
      expected_return = expected_return_daily * 250

    return expected_return_annual

  else :
    return expected_return_daily

  return expected_return

In [10]:
getExpectedReturn(coca_cola,'Adj Close')

Ticker
KO   -0.08762
dtype: float64

In [12]:
getExpectedReturn(apple,'Adj Close', annualised=False)

Ticker
AAPL    0.001479
dtype: float64

In [13]:
getExpectedReturn(coca_cola,'Adj Close', annualised=False, annualise_method='crude')

Ticker
KO    0.000367
dtype: float64